<div *ngFor="let user of users" class="col-3">
  <div class="col-12">
    <h2>{{ user.username }}</h2>
    <div class="infos row">
      <p class="col-10">Id : {{ user.id }}</p>
      <p class="col-10">Email : {{ user.email }}</p>
    </div>
    <div class="buttons row">
      <button (click)="deleteUser(user.id)" class="col-4" *ngIf="isSuperAdmin()">Supprimer</button>
      <button (click)="modifierUser(user.id)" class="col-4" *ngIf="isSuperAdmin()">Modifier</button>
      <button (click)="showUser(user.id)" class="col-4 ">Voir</button>
    </div>
  </div>
</div>
